.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  width: 300px;
}

.admin-panel {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.search button img {
  width: 20px;
  height: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
}


.menu-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 269px;
  height: 110px;
  cursor: pointer;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px;
}

.menu-item.active {
  background-color: #333;
  color: #fff;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.logout {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logout-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #f0f0f0;
}
