<div class="background-login">
  <div class="box">
    <div class="left-side">
      <div class="login-box">
        <h1 class="firsth1">TaxiFleet</h1>
        <h1 class="secondh1">Manager</h1>
        <form  method="post">
          <div class="textbox">
            <input [(ngModel)]="registerRequest.username" type="text" name="username" placeholder="Username" required>
          </div>
          <div class="textbox">
            <input [(ngModel)]="registerRequest.password" type="password" name="password" placeholder="Password" required>
          </div>
          <div class="textbox">
            <input type="password" name="password" placeholder="Confirm Password" required>
          </div>
          <div class="textbox">
            <input type="text" name="firstname" placeholder="First Name" required>
          </div>
          <div class="textbox">
            <input type="text" name="lastname" placeholder="Last Name" required>
          </div>
          <button type="submit" class="btn" >Register</button>

        </form>
        <a class="sign-in" (click)="loginPage()">Back</a>
      </div>
    </div>
    <div class="right-side">
      <img src="assets/images/taxi.png">
    </div>
  </div>
</div>
