<div class="background-login">
  <div class="box">
    <div class="left-side">
      <div class="login-box">
        <img class="logo" src="assets/images/logo.png">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="textbox" [ngClass]="{'error': errorMsg && registerForm.controls['username'].invalid}">
            <input formControlName="username" type="text" placeholder="Username" required>
          </div>
          <div class="textbox" [ngClass]="{'error': errorMsg && registerForm.controls['password'].invalid}">
            <input formControlName="password" type="password" placeholder="Password" required>
          </div>
          <div class="textbox" [ngClass]="{'error': errorMsg && registerForm.controls['confirmPassword'].invalid}">
            <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" required>
          </div>
          <div class="textbox" [ngClass]="{'error': errorMsg && registerForm.controls['firstName'].invalid}">
            <input formControlName="firstName" type="text" placeholder="First Name" required>
          </div>
          <div class="textbox" [ngClass]="{'error': errorMsg && registerForm.controls['lastName'].invalid}">
            <input formControlName="lastName" type="text" placeholder="Last Name" required>
          </div>
          <div class="textbox" [ngClass]="{'error': errorMsg && registerForm.controls['phoneNumber'].invalid}">
            <input formControlName="phoneNumber" type="text" placeholder="Phone Number" required>
          </div>
          <button type="submit" class="btn">Register</button>
        </form>
        <a class="sign-up" (click)="loginPage()">Back</a>
        <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
      </div>
    </div>
    <div class="right-side">
      <img src="assets/images/taxi.png">
    </div>
  </div>
</div>
