.cars-container {
  overflow-y: auto;
  max-height: 700px;
}

.car {
  width: 900px;
  height: 227px;
  margin: 10px;
  display: flex;
  border-radius: 35px 35px 35px 35px;
}

.car-info {
  display: flex;
  flex-direction: column;
  width: 472px;
  height: 227px;
  border-radius: 35px 0px 0px 35px;
  background-color: rgba(255, 255, 255, 1);
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.name h1 {
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}

.name h2 {
  font-size: 30px;
  font-weight: bold;
}

.data {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

.mileage {
  margin-top: 15px;
}

.color {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.circle1 {
  background-color: white;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid;
}

.wheel-state {
  display: flex;
}

.circle2 {
  background-color: rgb(26, 255, 0);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid;
}

.car-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 428px;
  height: 227px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  border-radius: 0px 35px 35px 0px;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
}

.registration-number {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
