.container {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  //max-width: 400px;
  margin-top: 20px;
  transform: translateX(-100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  flex: 1;
}

.select-container {
  flex: 1;
}

select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
}

.date {
  display: none;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #555;
}
