.left{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:25%;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(172, 172, 172, 0.8));

}
.option-box{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.option-box button{
  margin-top: 15px;
  font-size: 25px;
  width: 300px;
  height: 50px;
  background-color: #fafafa81;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
}
.option-box button:hover {
  background-color: #393939;
  color: #FFFFFF;
}
.option-box button:active a{
  background-color: #393939;
  color: #FFFFFF;
}
.option-box button a {
  text-decoration: none;
  color: black;
}
.logout{
  margin-top: 20px;
}
.logo-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.logo{
  width: 80%;
}
.firsth1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 0px;
}
.secondh1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  font-size: 50px;
  color:#ffd600;
  margin-bottom: 20px;;
}
.right{
  flex-grow: 1;
  padding: 20px;
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}


.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 27px;
  background-color: #2f2f2f;
  border-radius: 10px;
  box-shadow: 0 0 0 3px white;
  width: 341px;
  height: 51px;
}

.search {
  display: flex;
  align-items: center;
  background-color: #2f2f2f;
  border-radius: 10px;
  box-shadow: 0 0 0 3px white;
  width: 341px;
  height: 51px;
  margin: 10px;
}

.search input {
  border: none;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #2f2f2f;
  color: white;
  font-size: 27px;
}
.car{
  background-image:linear-gradient(#ffffff,#afafae9f) ;
  border-radius: 20px;
  width: 90%;
  display: flex;
  border: 2px solid transparent;

}
.car-info{
  margin-left: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name h1{
  font-size: 50px;
  font-weight: bold;
}
.name h2{
  font-size: 30px;
  font-weight: bold;
  margin-top: -40px;
}
.data{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.mileage{
  margin-top: 15px;
}
.color{
  display: flex;
  margin-bottom: 10px;
}
.circle1{
  background-color: white;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.wheel-state{
  display: flex;
  margin-bottom: 10px;
}
.circle2{
  background-color: rgb(26, 255, 0);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 90px;
}
.photo{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-number{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 35%;
  background-color: white;
  margin-bottom: 5px;
  margin-left: 150px;
}
.napis{
  font-size: 40px;
  color: white;
}
