<div class="background">
  <div class="left">
    <div class="logo-box">
      <img class="logo" src="assets/images/logo.png">
    </div>
    <div class="option-box">
      <button routerLink="/dashboard/availability">
        <a>Report </a>
        <a>availability</a>
      </button>
      <button routerLink="/dashboard/profile">
        <a>Profile</a>
      </button>
      <button routerLink="/dashboard/cars">
        <a>Cars</a>
      </button>
      <button routerLink="/dashboard/drivers">
        <a>Drivers</a>
      </button>
      <button routerLink="/dashboard/schedule">
        <a>Schedule</a>
      </button>
      <div class="logout">
        <button class="logout-button" (click)="logout()">
          <a>Logout</a>
        </button>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="tabs">
      <div class="tab">{{ tabTitle }}</div>
      <form class="search">
        <input type="text" placeholder="Search..." (input)="onSearch($event)">
      </form>
    </div>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
